<!-- <h2 class="text-center mb-5 text-danger"><strong class="border-bottom border-danger">TAB Practice</strong></h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="ul nav nav-pills">
                <li class="nav-item"
                *ngFor="let skill of skillsArr">
                    <a href="javascript:;" class="nav-link"
                    (click)="onTab(skill.tabHeading)"
                    [class.active]="selectedSkill.toLowerCase() == skill.tabHeading.toLowerCase()">{{skill.tabHeading}}</a>
                </li>
            </div>
        </div>
    </div>
    <hr>
    <div class="card">
        <div *ngFor="let skills of skillsArr">
            <div class="card-body"
            [innerHTML]="skills.tabContent"
            *ngIf="selectedSkill === skills.tabHeading"></div>
        </div>
    </div>
</div> -->

<h2 class="text-center mb-5 text-danger"><strong class="border-bottom border-danger">STD CRUD</strong></h2>

<div class="container">

    <h3 *ngIf="!isinEditMode" class="text-center p-2 text-white rounded bg-primary">ADD STD</h3>
    <h3 *ngIf="isinEditMode" class="text-center p-2 rounded bg-warning">UPDATE STD</h3>


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="fname">FIRST NAME</label>
                <input 
                #fname
                type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="lname">LAST NAME</label>
                <input 
                #lname
                type="text" class="form-control">
            </div>
            
            <div class="form-group">
                <label for="email">EMAIL</label>
                <input 
                #email
                type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="contact">CONTACT</label>
                <input 
                #contact
                type="number" class="form-control">
            </div>

            <div>
                <button 
                *ngIf="!isinEditMode"
                (click)="onAddstd()"
                mat-raised-button color="primary" class="btn-block">ADD STD</button>

                <button 
                *ngIf="isinEditMode"
                (click)="onUpdateStd()"
                mat-raised-button color="accent" class="btn-block">UPDATE STD</button>
            </div>
        </div>

        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="text-center">
                        <tr>
                            <th>SR NO</th>
                            <th>NAME</th>
                            <th>EMAIL</th>
                            <th>CONTACT</th>
                            <th>EDIT</th>
                            <th>DELETE</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let s of StdArr,index as i">
                            <td>{{i + 1}}</td>
                            <td>{{s.fname}} {{s.lname}}</td>
                            <td>{{s.email}}</td>
                            <td>{{s.contact}}</td>
                            <td><button 
                                (click)="onedit(s)"
                                class="bg-primary"><mat-icon>colorize</mat-icon></button></td>
                            <td><button 
                                (click)="ondelete(s.stdId)"
                                class="bg-danger"><mat-icon>delete_forever</mat-icon></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>