<h2 class="text-center mb-5 text-danger"><strong class="border-bottom border-danger">TODO CRUD (TWO-WAY)</strong></h2>

<div class="container">
    <h1 *ngIf="!isinEditMode" class="text-center text-primary">ADD TODO</h1>
    <h1 *ngIf="isinEditMode" class="text-center text-warning">UPDATE TODO</h1>


    <div class="row mt-3">
        <div class="col-md-6">
            <label for="todoitem" class="font-weight-bold">Todo Item :-</label>
            <input 
            [(ngModel)]="todoinputValue"
            type="text" class="form-control">

            <button 
            *ngIf="!isinEditMode"
            (click)="onAdd()"
            mat-raised-button color="primary" class="btn-block mt-2">ADD TODO</button>

            <button 
            *ngIf="isinEditMode"
            (click)="onUpdate()"
            mat-raised-button color="warn" class="btn-block mt-2">UPDATE TODO</button>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li 
                *ngFor="let t of todoArr"
                class="list-group-item d-flex justify-content-between align-items-center">{{t.todoitem}}
                    <div>
                        <button 
                        (click)="onEdit(t)"
                        class="bg-primary mr-2"><mat-icon>colorize</mat-icon></button>
                        <button 
                        (click)="onDelete(t.todoid)"
                        class="bg-danger"><mat-icon>delete_forever</mat-icon></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>