<h2 class="text-center mb-5 text-danger"><strong class="border-bottom border-danger">STD CRUD</strong></h2>


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 *ngIf="!isinEditMode" class="text-center border-bottom border-danger">ADD STUDENT</h1>
            <h1 *ngIf="isinEditMode" class="text-center border-bottom border-danger">UPDATE STUDENT</h1>

            <div class="form-group">
                <label for="fname">Fname</label>
                <input 
                #fname
                type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="lname">Lname</label>
                <input 
                #lname
                type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input 
                #email
                type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="contact">Contact</label>
                <input 
                #contact
                type="number" class="form-control">
            </div>
            
            <div>
                <button 
                *ngIf="!isinEditMode"
                (click)="onAdd()"
                mat-raised-button class="btn-block" color="primary">ADD TODO</button>
            </div>

            <div>
                <button
                *ngIf="isinEditMode"
                (click)="OnUpdate()"
                mat-raised-button class="btn-block" color="warn">Update TODO</button>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>SR.NO</th>
                            <th>FULL NAME</th>
                            <th>EMAIL</th>
                            <th>CONTACT</th>
                            <th>EDIT</th>
                            <th>DELETE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of StdArr,index as i">
                            <td>{{i + 1}}</td>
                            <td>{{s.fname}} {{s.lname}}</td>
                            <td>{{s.email}}</td>
                            <td>{{s.contact}}</td>
                            <td><button 
                                (click)="onEdit(s)"
                                class="bg-primary"><mat-icon>colorize</mat-icon></button></td>
                            <td><button 
                                (click)="onRemove(s.stdId)"
                                class="bg-danger"><mat-icon>delete_forever</mat-icon></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
